.bdy{
	margin:auto;
	background-color:white;
	}
.font{
	margin:auto;
	font-size:40px;
	color:lightblue;
	font-family:Segoe UI;
	text-shadow:2px 2px 2px;
	text-align:center;
}
ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
	display:flex;
	flex-flow:row;
    background-color: lightblue;
	font-family:Segoe UI;
}

.active1{
	 background-color:black;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active1) {
    background-color: lightgrey;
}
.img{
display:inline;
position:relative;
z-index:1;
}
marquee{
color:lightblue;
font-size:20px;
text-shadow:3px 3px 5px black;
}
@media screen and (min-width: 1000px) {
	.img{margin-left:20px;}
}
.msg{
height:150px;
width:250px;}
@media screen and (min-width: 1000px) {
	.msg{height:150px;width:400px}
}
button{
font-size:20px;
background-color:lightblue;
border-radius:10px;
box-shadow:1px 1px 8px grey;
}
button:hover{
border:3px solid lightblue;
background-color:white;
box-shadow:1px 1px 8px grey;
}
input[type=text]{
border-radius:4px;
}
input[type=password]{
border-radius:4px;
}
select{
border-radius:4px;
}
.sec1,.sec2,.sec3{
position:auto;
}
@media screen and (min-width: 1280px) {
	.sec1{margin-left:100px;position:absolute;}
	.sec2{margin-left:600px;position:absolute;}
	.sec3{margin-left:1050px;position:absolute;}
}

.ranbaxy1,.ranbaxy2,.ranbaxy3,.ranbaxy4{
box-shadow:2px 2px 5px grey;
}
.himalaya1,.himalaya2,.himalaya3,.himalaya4{
box-shadow:2px 2px 5px grey;
}
.cipla1,.cipla2,.cipla3,.cipla4{
box-shadow:2px 2px 5px grey;
}
.toggle-menu{
display:none;
}
@media only screen and (max-width:550px){
	.toggle-menu{
		display:block;
		background-color:lightblue;
		color:white;
		padding:4px;
		border-radius:3px;
	}
	.toggle-menu:hover{
		background-color:grey;
		}
	ul{
		display:block;
		width:100%;
		position:static;
		z-index:2;
		left:0;
		top:0;
		max-height:0;
		overflow:hidden;
		line-height:25px;
		
	}
	.active{
	max-height:100%;
	overflow:auto;}
}









