.bdy{
	margin:auto;
	background-color:white;
	}
.font{
	margin:auto;
	font-size:40px;
	
	color:lightblue;
	font-family:Segoe UI;
	text-shadow:2px 2px 2px;
	text-align:center;
}
ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
	font-family:Segoe UI;
}
li {
    float: left;
}
.active1{
	 background-color:orange;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active1) {
    background-color: lightgrey;
}
@media screen and (max-width: 450px) {
	li{float:none;}
}

.img{
display:inline;
position:relative;
}
marquee{
color:lightblue;
font-size:20px;
text-shadow:3px 3px 5px black;
}
/*.msg{
height:150px;
width:250px;}
@media screen and (min-width: 700px) {
	.msg{height:150px;width:400px}
}*/
button{
font-size:15px;
background-color:lightblue;
border-radius:5px;
box-shadow:1px 1px 8px grey;
}
button:hover{
border:3px solid lightblue;
background-color:white;
box-shadow:1px 1px 8px grey;
}
input{
border-radius:4px;
}
input{
border-radius:4px;
}
select{
border-radius:4px;
}
.sec1,.sec2,.sec3{	
position:auto;
}
@media all and (min-width:800px) and (max-width:1500px) {
	.sec1{margin-left:12%;position:absolute;}
	.sec2{margin-left:41%;position:absolute;}
	.sec3{margin-left:72%;position:absolute;}
}

.ranbaxy1,.ranbaxy2,.ranbaxy3,.ranbaxy4{
box-shadow:2px 2px 5px grey;
}
.himalaya1,.himalaya2,.himalaya3,.himalaya4{
box-shadow:2px 2px 5px grey;
}
.cipla1,.cipla2,.cipla3,.cipla4{
box-shadow:2px 2px 5px grey;
}


#display
{
 color:red;
}
.fieldset{
	margin:auto;
	position:relative;
	border-color:orange;
	border-radius:10px;
	text-align:center;
	
	}
	@media screen and (min-width: 450px) {
		.fieldset{width:400px;}
	
}
.ad1,.middle,.ad2{	
position:auto;
}
@media all and (min-width:910px) and (max-width:1500px) {
	.ad1{margin-left:3%;position:absolute;}
	.middle{margin-left:28%;position:absolute;}
	.ad2{margin-left:75%;position:absolute;}
}
.ad11,.middle1,.ad22{	
position:auto;
}
@media all and (min-width:863px) and (max-width:1500px) {
	.ad11{margin-left:3%;position:absolute;}
	.middle1{margin-left:35%;position:absolute;}
	.ad22{margin-left:72%;position:absolute;}
}









