/*login*/
	.borderrad{
	border-radius:5px;
	}
	.LogIn{
	height:30px;
	width:50px;
	background-color:lightblue;
	border-radius:6px;
	}
	.LogIn:hover{
	border-color:darkblue;
	border-width:2px;
	border-style:solid;
	
	}
	
	input:valid{
	border-color:lightgreen;
	background-color:lime;
	}
	input:invalid{
	border-color:lightblue;
	background-color:lightblue;
	}
	.fieldset{
	margin:auto;
	position:relative;
	border-color:orange;
	border-radius:10px;
	text-align:center;
	
	}
	@media screen and (min-width: 450px) {
		.fieldset{width:400px;}
	
}
	
	.legend{
	font-family:BatmanForeverAlternate;
	}